<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Deep Fake Detection</div>
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="feedback.html">Contact Us</a></li>
        </ul>
    </nav>


    <div class="container">
        <h1>Deepfake Detection</h1>
        <form id="uploadForm">
            <input type="file" id="videoFile" accept="video/*">
            <button type="submit" id="submitBtn">Upload Video</button>
        </form>

        <div class="result" id="resultMessage"></div>
    </div>
</body>
</html>
