<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Deep Fake Detection</div>
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feedback">Feedback </a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Give Us Feedback!</h1>
        <div>
            <p>Enter Your Name</p>
            <input type="text" placeholder="Enter Your Name">
            <br>
            <p>Your Email Id</p>
            <input type="email" placeholder="Enter Your Email">
            <p>Ask Your Questions</p>
            <textarea placeholder="Enter Your Message"></textarea>
            <div><button>Submit</button></div>
        </div>
        <div>
            <div class="email-section">
                <h3>Email</h3>
                <div class="email-item">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Mail Id: <span class="email-address">debatoshofficial85@gmail.com</span></p>
                </div> <div class="email-item">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Mail Id: <span class="email-address">ghoshabhra2020@gmail.com</span></p>
                </div>
            </div>
            <div class="phone-section">
                <h3>Mobile NO</h3>
                <span><i class="fa-solid fa-phone"></i>10-0234443</span>
            </div>
            <div class="address">
                <p>Address <i class="fa-solid fa-location-dot"></i><span>Kolkata, West Bengal</span></p>
            </div>
        </div>
    </div>

    <!-- /////FOOTER///// -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>We specialize in providing cutting-edge<br> deepfake detection technology to ensure content authenticity.</p>
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/feedback">Give us Feedback</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact Info</h3>
                <p>Email: <a href="mailto:debatoshofficial85@gmail.com">debatoshofficial85@gmail.com</a></p>
                <p>Phone: <a href="tel:6297856449">6297856449</a></p>
                <p>Address: Kolkata, West Bengal</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Deepfake Detection. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>